<!doctype html>
<html lang="en" ng-app="indexApp">
    <head>
        <meta charset="UTF-8"/>
        <title><%= title %></title>
	<script src="js/angular.js" type="text/javascript"></script>
	<script src="js/angular-sani.js" type="text/javascript"></script>
	<script src="js/main.js" type="text/javascript"></script>
    </head>
    <body ng-controller="indexController">
	
    </body>
</html>
